#mainNav {
  border-bottom: 1px solid hsla(0,0%,100%,0);
}

#mainNav.navbar-shrink {
  border-bottom: 1px solid hsla(0,0%,100%,0);
}

.fa.fa-angle-double-down.animated {
  border-radius: 10px;
  border-color: white;
}

