#mainNav {
  border-bottom: 1px solid hsla(0,0%,100%,0);
}

#mainNav.navbar-shrink {
  border-bottom: 1px solid hsla(0,0%,100%,0);
}

h1, .cd-words-wrapper {
  font-size: 30px;
}

@media screen and (min-width: 500px) {
  h1, .cd-words-wrapper {
    font-size: 48px;
    letter-spacing: 15px;
  }
}

